body * {
    font-size: 60px;
    text-align: center;
    vertical-align: center;
    /* outline: blue solid 3px; */
    background-color: red;
}
@media screen and (min-width: 480px) and (max-width: 767px){
    body * {
    font-size: 60px;
    text-align: center;
    vertical-align: center;
    /* outline: lightcoral solid 3px; */
    background-color: lightblue;
    }
}
@media screen and (min-width: 768px) and (max-width: 980px){
    body * {
    font-size: 60px;
    text-align: center;
    vertical-align: center;
    /* outline: red solid 3px; */
    background-color: blue;
    }
}