
#a {
    background-color: #4D5BFF;
  }
  
  #b {
    background-color: #3B76E8;
  }
  
  #c {
    background-color: #40B4FF;
  }
  
  #d {
    background-color: #5B3AE8;
  }
  
  #e {
    background-color: #9840FF;
  }
  
  #f {
    background-color: #2B3CFF;
  }
  
  #g {
    background-color: #1B61E8;
  }
  
  #h {
    background-color: #1DA6FF;
  }
  
  #i {
    background-color: #411AE8;
  }
  
  @media screen and (min-width: 600px) {
    #a {
      background-color: #11FF2A;
    }
    
    #b {
      background-color: #0FE863;
    }
  
    #c {
      background-color: #19FFA9;
    }
    
    #d {
      background-color: #0AE8D4;
    }
  
    #e {
      background-color: #0CD3FF;
    }
    
    #f {
      background-color: #3EFF56;
    }
    
    #g {
      background-color: #38E880;
    }
    
    #h {
      background-color: #47FFBB;
    }
    
    #i {
      background-color: #33E8D9;
    }
  }
  
  @media screen and (min-width: 768px) {
  
    #a {
      background-color: #FF3B1F;
    }
    
    #b {
      background-color: #E81B28;
    }
  
    #c {
      background-color: #FF349F;
    }
    
    #d {
      background-color: #E522E8;
    }
  
    #e {
      background-color: #C026FF;
    }
    
    #f {
      background-color: #FF6D5B;
    }
    
    #g {
      background-color: #E85165;
    }
    
    #h {
      background-color: #FF71C2;
    }
    
    #i {
      background-color: #E25AE8;
    }
  }
  
  