nav{
    height: 75px;
}
article{
    width: 240px;
    height: 250px;
}
main{
    height: 150px;
}
section{
    height: 125px;
}
article{
    height: 250px;
    width: 50%;
    float: left;
}
footer{
    width: 100%;
    height: 80px;
    float: left;
}
@media screen and (min-width: 768px){
    nav{
        height: 100px;
    }
    main{
        height: 600px;
        width: 26.0416%;
        float: left;

    }
    section{
        width: 36.96%;
        height: 200px;
        float: left;
    }
    article{
        width: 18.48%;
        height: 250px;
        float:left;
    }
    footer{
        width: 73%;
        height: 150px;
        float: left;
    }
}